# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

# Qdrant database (if generated locally)
qdrant_storage/